
<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<section style="margin: 0 7%; color: white; text-align: center;">
    <h1>Welcome to AZrecipE</h1>
    <h4><small>Recipes in 3 easy steps</small></h4>
    <h6><small>***** This app depends on an external API. They started charging and I did not pay, so some functionality is not available. *****</small></h6>
    <div class="image-holders">
        <div>
            <img src="/images/one.png" alt="">
            <div class='img1'>
                <img src="/images/makeAccount.png" alt="">
            </div>
            <h6>Make Account</h6>
        </div>
        <div>
            <img src="/images/two.png" alt="">
            <div class='img2'>
                <img src="/images/setPreferences.png" alt="">
            </div>
            <h6>Set Preference</h6>
        </div>
        <div>
            <img src="/images/three.png" alt="">
            <div class='img3'>
                <img src="/images/startCooking.png" alt="">
            </div>
            <h6>Get Recipes</h6>
        </div>
    </div>
</section>

<%- include('./partials/footer') %>
