
<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<section style="margin: 0 7%; color: white; text-align: center;">
    <h1>Welcome to AZrecipE</h1>
    <h4><small>Recipes made easy</small></h4>
    <h4><ol style="text-align: center;"><strong>
        <li>Create Account</li>
        <li>Set dietary preferences</li>
        <li>Get top rated recipes every week</li>
        
    </strong></ol></h4>

</section>

<%- include('./partials/footer') %>
