body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form.new-recipe {
  padding: 0 20%;
}

form.new-recipe div.cuisine-selection {
  height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
}

form.new-recipe div.intolerances {
  height: 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;

}

form.new-recipe div.meal-type {
  height: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

div.dashboard-ingredients-display{
  display: flex;
  justify-content: space-evenly;
}

div.dashboard-ingredients-display section{
  width: 50%;
}

@media (max-width: 992px) {
  div.dashboard-ingredients-display{
    flex-direction: column;
  }
  div.dashboard-ingredients-display section{
    width: 100%;
  }
}




.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('star-off.svg');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}



