body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/home-page-photo.jpeg'); 
  background-size: cover;
  background-position: center center;
  margin: 0 5%;
  background-repeat: no-repeat;
  min-height: 800px;
  background-attachment: fixed;
}

a {
  color: #00B7FF;
}

form.new-recipe {
  padding: 0 20%;
}

form.new-recipe div.cuisine-selection {
  height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
}

form.new-recipe div.intolerances {
  height: 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;

}

form.new-recipe div.meal-type {
  height: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


/* Dashboard */
div.dashboard-ingredients-display{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
}

div.dashboard-ingredients-display div.dashboard-recipe-holder{
  display: flex;
  justify-content: center;
  width: 95%;
}

.dashboard-recipe-holder div.ingredient-holder { 
  width: 40%;
}

.dashboard-recipe-holder div.recipe-info-holder {
  width: 40%;
}

.dashboard-imgs {
  margin-top: 25px;
  width: 300px;
  border-radius: 2%;
}

.dashboard-titles {
  /* color: red; */
}

.recipe-title-and-btn{
  text-align: center;
}

/* Recipe Pages */
.image-holders{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-holders div {
  height: 230px;
  width: 230px;
  margin: 2%;
  position: relative;
}

.image-holders div img {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 0;
  z-index: 1;
}

.image-holders div div {
  height: 200px;
  width: 200px;
  background-color:rgb(199, 151, 139, .2);
  border-radius: 10%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.image-holders div div img {
  z-index: 0;
  height: 200px;
  width: 200px;
}


.dashboard-container {
  /* background-color: rgb(110,155,176, .75); */
  background-color:rgb(199, 151, 139, .4);
  padding: 1% 2%;
  margin-top: 2%;
  border-radius: 10px;
}



/* recipe index */
.recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(199, 151, 139, .2);
}

.recipe-card-holder {
  width: 300px;
  margin: 2%
}

.card-img-top {
  width: 300px;
}


@media (max-width: 992px) {
  div.dashboard-ingredients-display{
    flex-direction: column;
  }
  div.dashboard-ingredients-display section{
    width: 100%;
  }
}

@media (max-width: 200px) {
  body{
    min-height: 500px;
  }
}


.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('star-off.svg');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}



.portfolio{
  padding:6%;
  text-align:center;
}
.heading{
  background: #fff;
  padding: 1%;
  text-align: left;
  box-shadow: 0px 0px 4px 0px #545b62;
}
.heading img{
  width: 10%;
}
.bio-info{
  padding: 5%;
  background:#fff;
  box-shadow: 0px 0px 4px 0px #b0b3b7;
}
.name{
  font-family: 'Charmonman', cursive;
  font-weight:600;
}
.bio-image{
  text-align:center;
}
.bio-image img{
  border-radius:50%;
}
.bio-content{
  text-align:left;
}
.bio-content p{
  font-weight:600;
  font-size:30px;
}