<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<form class="new-recipe" action="/user/recipes/new" method="POST">
    <hr>
    <!-- will eventually put a for loop here for the preselected patterns unless the use is new  -->
    <label>Diet: </label>
    <select name="diet" required>
        <option selected value="" disabled>Select Diet</option>
        <option value="Gluten Free">Gluten Free</option>
        <option value="Ketogenic">Ketogenic</option>
        <option value="Vegetarian">Vegetarian</option>
        <option value="Vegan">Vegan</option>
        <option value="Pescetarian">Pescetarian</option>
        <option value="Paleo">Paleo</option>
        <option value="Whole30">Whole30</option>
    </select>
    <hr>
    <label><strong>Select Cuisines </strong> (prepopulated with previous prefereces, suggest you keep the same): </label>
    <div class="cuisine-selection">
        <div>
            <input type="checkbox" name="cuisine" value="African"> African
        </div>
        <div>
            <input type="checkbox" name="cuisine" value="American"> American
        </div>
        <div>
            <input type="checkbox" name="cuisine" value="British"> British
        </div>
        <div>
            <input type="checkbox" name="cuisine" value="Cajun"> Cajun
        </div>
        <div>
            <input type="checkbox" name="cuisine" value="Caribbean"> Caribbean
        </div>
        <div>
            <input type="checkbox" name="cuisine" value="Chinese"> Chinese
        </div>
        <div>
            <input type="checkbox" name="cuisine" value="Eastern European"> Eastern European
        </div>
        <div>
            <input type="checkbox" name="cuisine" value="European"> European
        </div>
        <div>
            <input type="checkbox" name="cuisine" value="French"> French
        </div>
        <div>
            <input type="checkbox" name="cuisine" value="German"> German
        </div>
        <div>
            <input type="checkbox" name="cuisine" value="Greek"> Greek
        </div>
        <div>
            <input type="checkbox" name="cuisine" value="Indian"> Indian
        </div>
        <div>
            <input type="checkbox" name="cuisine" value="Irish"> Irish
        </div>
        <div>
            <input type="checkbox" name="cuisine" value="Italian"> Italian
        </div>
        <div>
            <input type="checkbox" name="cuisine" value="Japanese"> Japanese
        </div>
        <div>
            <input type="checkbox" name="cuisine" value="Jewish"> Jewish
        </div>
        <div>
            <input type="checkbox" name="cuisine" value="Korean"> Korean
        </div>
        <div>
            <input type="checkbox" name="cuisine" value="Latin America"> Latin American
        </div>
        <div>
            <input type="checkbox" name="cuisine" value="Mediterranean"> Mediterranean
        </div>
        <div>
            <input type="checkbox" name="cuisine" value="Mexican"> Mexican
        </div>
        <div>
            <input type="checkbox" name="cuisine" value="Middle Eastern"> Middle Eastern
        </div>
        <div>
            <input type="checkbox" name="cuisine" value="Spanish"> Spanish
        </div>
        <div>
            <input type="checkbox" name="cuisine" value="Thai"> Thai
        </div>
        <div>
            <input type="checkbox" name="cuisine" value="Vietnamese"> Vietnamese
        </div>
    </div>
    <hr>
    <label>Select Any Intolerances: </label>

    <div class="intolerances">
        <div>
            <input type="checkbox" name="intolerances" value="Dairy"> Dairy
        </div>
        <div>
            <input type="checkbox" name="intolerances" value="Egg"> Egg
        </div>
        <div>
            <input type="checkbox" name="intolerances" value="Gluten"> Gluten
        </div>
        <div>
            <input type="checkbox" name="intolerances" value="Grain"> Grain
        </div>
        <div>
            <input type="checkbox" name="intolerances" value="Peanut"> Peanut
        </div>
        <div>
            <input type="checkbox" name="intolerances" value="Seafood"> Seafood
        </div>
        <div>
            <input type="checkbox" name="intolerances" value="Sesame"> Sesame
        </div>
        <div>
            <input type="checkbox" name="intolerances" value="Shellfish"> Shellfish
        </div>
        <div>
            <input type="checkbox" name="intolerances" value="Soy"> Soy
        </div>
        <div>
            <input type="checkbox" name="intolerances" value="Sulfite"> Sulfite
        </div>
        <div>
            <input type="checkbox" name="intolerances" value="Tree Nut"> Tree Nut
        </div>
        <div>
            <input type="checkbox" name="intolerances" value="Wheat"> Wheat
        </div>
    </div>
    <hr>
    <label>Meal Type: </label>
    <div class="meal-type">
        <div>
            <input type="checkbox" name="meal" value="Main Course" checked> Main Course
        </div>
        <div>
            <input type="checkbox" name="meal" value="Soup"> Soup
        </div>
        <div>
            <input type="checkbox" name="meal" value="Dessert"> Dessert
        </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-primary mb-2">Get Recipes</button>
</form>





<%- include('../partials/footer') %>